input {
    margin: 10px;
    padding: 3px;
    border-width: 3px;
    border-color: green;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

* {
    margin: 10px;
}

body {
    background-color: antiquewhite;
}

.text-style {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}