h1 {
color: blue; 
border-width: 5px; 
border-color: red; 
border-style: solid; 
padding: 10px;
} 

/* 
div > h1 {
color:green; 
border-width: 5px; 
border-color: red; 
border-style: solid; 
padding: 10px;
}  */


.h1-style {
    color:magenta; 
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}

@media only screen and (min-width: 601px) {
    body {
        background-color: bisque;
    }
}
