.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr repeat(3, 25px) 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

.pos-logo {
    grid-row: 1;
    grid-column: 1;
}

.style-logo {
    width: 100px;
    /* border-style: solid; */
    border-radius: 50px;
}

.pos-title {
    grid-row: 2;
    grid-column: 2;

}

.pos-email {
    grid-row: 3;
    grid-column: 2;
}

.pos-password {
    grid-row: 4;
    grid-column: 2; 
}

.input-width,
.button-width {
    width: max(50%, 150px);
} 

.pos-button {
    grid-row: 5;
    grid-column: 2;
}

.pos-text {
    grid-row: 6;
    grid-column: 2;
}